body {
  padding: 0;
  margin: 0;
  background-image: url('../images/background.jpg');
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

/** Estilos personalizados */

.footer {
  margin: 20px;
  border-top: solid #d8d8d8 1px;
  padding: 10px;
  text-align: center;
}

.login-page {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 20px;
  margin-top: 50px;
  -webkit-box-shadow: 0px 0px 34px 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 34px 3px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 34px 3px rgba(0,0,0,0.25);
}
