<!-- Barra de navegación -->
<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href>Proyecto Base Frontend<div class="ripple-container"></div></a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href>Inicio</a></li>
        <li><a href>Perfil</a></li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group is-empty">
          <input type="text" class="form-control col-md-8" placeholder="Buscar">
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href ng-click="logout()">Cerrar Sesión</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- Contenedor Principal -->
<div class="container">
  <div class="row text-center">
    <h1>USER - HOME</h1>
    <img src="images/yeoman.png" />
  </div>
</div>
