<!-- Barra de navegación -->
<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href>Proyecto Base Frontend<div class="ripple-container"></div></a>
    </div>
  </div>
</div>

<!-- Contenido Principal -->
<div class="container">
  <div class="row">
		<div class="col-sm-6 col-sm-offset-3">

      <div class="login-page">
        <form class="form">
          <div class="row text-center">
            <img src="images/yeoman.png" />
            <h2>Inicio de Sesión</h2>
          </div>

          <div class="form-group label-floating is-empty">
            <label class="control-label">Usuario</label>
            <input type="text" class="form-control" ng-model="user" />
          </div>

          <div class="form-group label-floating is-empty">
            <label class="control-label">Contraseña</label>
            <input type="password" class="form-control" ng-model="pass" />
          </div>

          <div class="row text-center">
            <button ng-click="actionlogin()" class="btn btn-primary btn-raised">Ingresar</button>
          </div>
        </form>

      </div>

    </div>
  </div>
</div>
